<div class="container">
  <div class="row">
    <div class="col-10">
      <h2>Lista de Matriz de riesgo</h2>
    </div>
    <div class="col-2">
      <button (click)="agregarBoton()" class="btn btn-success">Agregar riesgo</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Fecha desde</th>
            <th>Fecha hasta</th>
            <th>Estado</th>
            <th>Usuario auditoria</th>
            <th>Fecha auditoria</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let riesgo of riesgos | slice:desde:hasta">
            <td>{{riesgo.id}}</td>
            <td>{{riesgo.nombre}}</td>
            <td>{{riesgo.fecha_desde}}</td>
            <td>{{riesgo.fecha_hasta}}</td>
            <td>{{riesgo.estado}}</td>
            <td>{{riesgo.usuario_auditoria}}</td>
            <td>{{riesgo.fecha_auditoria}}</td>
            <td>
              <button (click)="actualizarRiesgo(riesgo.id)" class="btn btn-primary">Editar</button>
              <button (click)="eliminarRiesgo(riesgo.id)" class="btn btn-danger" style="margin-left: 10px">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator [length]="riesgos?.length"
                     [pageSize]="pageSize"
                     aria-label="Select page"
                     (page)="cambiarPagina($event)">
      </mat-paginator>
    </div>
  </div>
</div>
