<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3 class="text-center">Edición de PRI_MATRIZ_RIESGO</h3>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Nombre: </label>
          <input type="text" class="form-control" id="nombre" [(ngModel)]="riesgo.nombre" name="nombre">
        </div>
        <div class="form-group">
          <label>Fecha desde: </label>
          <input type="text" class="form-control" id="fecha_desde" [(ngModel)]="riesgo.fecha_desde" name="fecha_desde">
        </div>
        <div class="form-group">
          <label>fecha hasta: </label>
          <input type="text" class="form-control" id="fecha_hasta" [(ngModel)]="riesgo.fecha_hasta" name="fecha_hasta">
        </div>
        <div class="form-group">
          <label>Estado: </label>
          <input type="text" class="form-control" id="estado" [(ngModel)]="riesgo.estado" name="estado">
        </div>
        <div class="form-group">
          <label>Usuario auditoria: </label>
          <input type="text" class="form-control" id="usuario_auditoria" [(ngModel)]="riesgo.usuario_auditoria" name="usuario_auditoria">
        </div>
        <div class="form-group">
          <label>Fecha auditoria: </label>
          <input type="text" class="form-control" id="fecha_auditoria" [(ngModel)]="riesgo.fecha_auditoria" name="fecha_auditoria">
        </div>
      </form>
      <button class="btn btn-success">Guardar</button>
    </div>
  </div>
</div>
