<div class="container">
  <div class="row">
    <div class="col-11">
      <h2>Lista Perfil Variable</h2>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead class="table-secondary">
          <tr>

            <th>Id perfil</th>
            <th>Id Matriz Riesgo Variable</th>
            <th>Id Variable</th>
            <th>Nombre variable</th>
            <th>Valor Variable</th>
            <th>Valor Normalizado</th>
            <th>Valor Riesgo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let perfilVariable of perfilVariables | slice:desde:hasta">
            <td>{{perfilVariable.perfil_id}}</td>
            <td>{{perfilVariable.matriz_riesgo_variable_id}}</td>
            <td>{{perfilVariable.variable_id}}</td>
            <td>{{perfilVariable.nombre_variable}}</td>
            <td>{{perfilVariable.valor_variable}}</td>
            <td>{{perfilVariable.valor_normalizado}}</td>
            <td>{{perfilVariable.valor_riesgo}}</td>
          </tr>
        </tbody>
      </table>
      <mat-paginator [length]="perfilVariables?.length"
                     [pageSize]="pageSize"
                     aria-label="Select page"
                     (page)="cambiarPagina($event)">
      </mat-paginator>

    </div>
  </div>
</div>
