<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3 class="text-center">Edición de Matriz de Segmento</h3>
      <form action="">
        <div class="form-group">
          <label>Nombre: </label>
          <input type="text" class="form-control" id="nombre" [(ngModel)]="segmento.nombre" name="nombre" placeholder="Digite el nombre">
        </div>
      </form>
      <button (click)="Actualizar()" class="btn btn-success">Actualizar</button>
    </div>
  </div>
</div>
